* {
  margin: 0;
  padding: 0;
  --color-border: #dad6d6a6;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

input{
  
  width: 18rem;
  height: 1.2rem;

  outline: none;
}

body {
  display: flex;
  justify-content: center;

  background: #f8f8f8e0;
  font-family: "Roboto", sans-serif;
}

.active-story {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);

  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%);
}

.login {
  font-size: 15px;
  font-weight: bold;
}

.localization {
  font-size: 12px;
  font-weight: 400;
}

header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  border-bottom: solid 1px var(--color-border);
  background: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60rem;
  height: 4em;

  padding: 0 2rem;
}

.logo {
  width: 40%;
  display: flex;
  align-items: left;
}

.logo a img {
  align-items: center;
  width: 103px;
  height: 29px;
}

.search {
  width: 20%;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search > input {
  background: #f7f7f78e;
  border: 1px solid var(--color-border);
  border-radius: 0.2rem;
  padding: 0.2rem 1.3rem;
  font-family: FontAwesome;

}

.search > img {
  position: absolute;
  z-index: 10;

  left: 0;
  max-width: 1rem;
  max-height: 1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  height: 2.2rem;
}

nav span {
  align-items: center;
}

nav span a {
  width: 2.9rem;
  height: 2.9rem;

  padding: 10px;
}

nav span a img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.profile {
  width: 1.9rem;
  height: 1.9rem;
  clip-path: circle(50% at 50% 50%);
}

main {
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  border-radius: 5px;
  border: 1px solid var(--color-border);

  width: 40rem;
  height: 8rem;
}

.story span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.story span a img {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: 2.5px solid white;
  clip-path: circle(50% at 50% 50%);
}

.story span p {
  font-size: 12px;
  font-weight: 400;
}

.card {
  margin-top: 1.5rem;

  max-width: 50rem;
  max-height: 70rem;

  display: flex;
  flex-direction: column;

  background: white;
  border: solid 1px var(--color-border);
  border-radius: 0.2rem;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.8rem;
}

.card-profile {
  display: flex;
}
.card-profile a > .active-story {
  max-width: 2.4rem;
  max-height: 2.4rem;
}
.card-profile a {
  display: flex;
  gap: 0.8rem;
}
.card-profile > a img {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  border: solid 2.5px white;

  clip-path: circle(50% at 50% 50%);
}
.info-profile {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.card-options {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.card-options a img {
  max-width: 0.8rem;
  max-height: 0.8rem;
}

.card-body img {
  width: 40rem;
  height: 30rem;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}
.card-action > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-action > span img {
  padding: 0 0.5rem;
}

.card-action img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.card-footer {
  display: flex;
  flex-direction: column;

  padding: 0 1rem;

}

.card-footer .description{ 
  display: flex;
  align-items: center;
}

.card-footer .description p{ 
  margin-left: 1rem;
}


.card-footer .comment{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;

  padding: 1rem;
  border-top: 1px solid var(--color-border);

}

.card-footer .comment img{
  position: absolute;
  
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.card-footer .comment input{ 
  position: relative;
  left: 0;
  margin-left: 2rem;
  border: none;
  padding: 0.2rem;
}

.card-footer .comment a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #1371ec3b;
}

aside {
  position: relative;
  margin-top: 7rem;
  margin-left: 1.5rem;
  width: 20rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

aside .content {
  position: fixed;

  width: 20rem;
  height: 28rem;

  display: flex;
  flex-direction: column;
}

.acount {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.acount-profile {
  display: flex;
}

.acount-profile a {
  display: flex;
  gap: 0.8rem;
}
.acount-profile > a img {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: solid 2.5px white;

  clip-path: circle(50% at 50% 50%);
}
.name-info {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}

.name-acount {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}
.acount-options {
  display: flex;
  align-items: center;
}

.acount-options p {
  font-size: 14px;
  font-weight: 400;
  color: #1371ec;
}
.suggestions {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.suggestions-tittle {
  display: flex;
  justify-content: space-between;
}

.suggestions-tittle p {
  display: flex;

  font-size: 14px;
  font-weight: 500;
  color: gray;
}
.suggestions-tittle a {
  display: flex;

  font-size: 14px;
  font-weight: 400;
}

.content-footer{
  position: absolute;
  bottom: 0;
}

.link {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;

}

.link a {
  
  font-size: 10px;
  font-weight: 400;

  color: #8080807a;
}

.link a:nth-child(6){
  margin-top: 1px;
}

.content-footer > p {
  margin-top: 1rem;
  font-size: 12px;
  font-weight: 400;

  color: #8080807a;
}
